
<audio controls src="https://s3-us-west-2.amazonaws.com/notetakeraudio/myRecording0014-05-2014-12%3A09%3A38.wav" >

   <p>Your browser does not support the audio element</p>
</audio>

// <script>
//   myAudio=document.getElementById('audio2');
//   myAudio.addEventListener('canplaythrough', function() {
//     this.currentTime = 12;
//     this.play();
//   });
// </script>


