
<!-- - we then take that value and add that to the this.current time, which will take us to that point in the audio directly. -->


<audio id="audio2" controls src="<%= @sound.url %>" >
   <p>Your browser does not support the audio element</p>
</audio>





<ul>
<% @sound.note_tags.each do |note| %>
  <li>  Time: <%= note.content %> </li>
  <li>  Playback Time: <span class="note_playback"><%=note.created_epoch%></span> </li>
<% end %>
</ul>

<!-- var sfx = new Audio('sfx.wav');
var track = sfx.addTextTrack('metadata'); // previously implemented as addTrack()

// Add cues for sounds we care about.
track.addCue(new TextTrackCue(12.783, 13.612, 'dog bark')); // startTime, endTime, text
track.addCue(new TextTrackCue(13.612, 15.091, 'kitten mew'));

function playSound(id) {
  sfx.currentTime = track.getCueById(id).startTime;
  sfx.play();
}

playSound('dog bark');
playSound('kitten mew'); -->
