  html { overflow: hidden; }
  body {
    font: 14pt Arial, sans-serif;
    background: lightgrey;
    display: flex;
    /*flex-direction: column;*/
    height: 100vh;
    width: 100%;
    margin: 0 0;
  }
  canvas {
    display: inline-block;
    background: #202020;
    width: 95%;
    height: 100%;
    box-shadow: 0px 0px 10px blue;
  }
  #controls {
    z-index: 100;
  /*  display: flex;*/
  /*  flex-direction: row;*/
    align-items: center;*/
    justify-content: space-around;
    height: 20%;
    width: 100%;
  }

  #record { height: 8vh; }
  #record.recording {
    background: red;
    background: -webkit-radial-gradient(center, ellipse cover, #ff0000 0%,lightgrey 75%,lightgrey 100%,#7db9e8 100%);
    background: -moz-radial-gradient(center, ellipse cover, #ff0000 0%,lightgrey 75%,lightgrey 100%,#7db9e8 100%);
    background: radial-gradient(center, ellipse cover, #ff0000 0%,lightgrey 75%,lightgrey 100%,#7db9e8 100%);
  }
  #save, #save img { height: 10vh; }
  #save { opacity: 0.25;}
  #save[download] { opacity: 1;}
  #viz {
    position: fixed;
    height: 100%;
    width: 100%;
    /*display: flex;*/
    /*flex-direction: column;*/
    justify-content: space-around;
    align-items: center;
  }
  @media (orientation: landscape) {
    /*body { flex-direction: row;}*/


  }

  #speech {
    float: left;

  }
  #results {
    font-size: 20px;
    font-weight: bold;
    border: 1px solid #ddd;
    padding: 15px;
    text-align: left;
    vertical-align: text-top;
    min-height: 150px;
    width: 80%;
    display: inline-block;
    background: rgba(255,255,255,.1);
  }
/*================================
google speech .css!!
================================*/
/* @group reset.css */

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/


body {
  line-height: 1;
}
/*ol, ul {
  list-style: none;
}*/
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* @end */

#supercontainer {
margin-left: auto;
margin-right: auto;
margin-top:10px;
width: 930px;
background:url("../images/octo-half-transp.gif") no-repeat right 165px
}

body {
background: #FFFFFF; /* Old browsers */


  background: #b8d9fa url(../images/pattern_136.gif) repeat; */
  background: #3b52a4; url(../images/stripe.png) repeat-x;*/
  color: #111;
  font: 15px/22px 'Open Sans', Droid Sans, Arial, sans-serif;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

.container {
  margin: 10px 10px 2em;
  width: 600px;
}


.container .note{
  display: inline;
  max-width: 400px;
  color: white;

}

header.primary {
  text-align: center;
  width: 850px;
  height: 100px;
  margin-left:0px;
  font-family: 'Rosario', sans-serif;
  font-size:24px;
  background-color:#EFF;
}

header.primary h1
{
    line-height:50px;
}

header.primary h3
{
    line-height:0px;
  font-family: 'Open Sans', sans-serif;
}

/* @group Nav */

nav.primary {
  text-align: center;
  align:center;
  padding: 12px 0 18px;
  margin: 12px 0;
  background-color: #EFF;
}

nav.primary ul {
  text-align: center;
  margin: 0 0 20px 28px;
  padding: 0;
}
nav.primary ul, nav.primary li {
  list-style: none;
}

nav.primary li {
  float: left;
  margin-right: 20px;
  font: 20px/24px 'Open Sans', Arial, sans-serif;
  letter-spacing: -1px;
}

nav.primary li a {
  text-decoration: underline;
  color: #446344;
  display: block;
  padding: 3px 8px 3px 0;
}

nav.primary li.active a {
  text-decoration: none;
  color: #333;
}

nav.primary li a:hover {
  text-decoration: underline;
}


/* @end */

/* @group #main */

#main {
  padding: 20px 24px;
  min-height: 100%;
  background-color: #EFF;
  margin: 0 auto;
}


#supercontainer h2 {
  display:block;
  background:#AADDDD;
}
#main a {
  color: #0065bd;
  text-decoration: underline;
}
#main a:visited {
  color: #4f70bf;
}
#main a.button {
  text-decoration: none;
}
#main p {
  margin-bottom: 18px;
}
#main hr {
  margin: 24px auto;
  height: 8px;
  width: 410px;
  background-color: transparent;
  border-style: none;
  background: url(../images/hr.png) no-repeat 0 50%;
}
#main h1, #main h2 {
  font-family: 'Aclonica', sans-serif;
  color: #000;

}
#main h1 {
  font-size: 48px;
  line-height: 54px;
  margin-bottom: 30px;
}
#main h2 {
  font-size: 36px;
  line-height: 42px;
  margin-bottom: 18px;
}
#main h3 {
  font-family: 'Open Sans', serif;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 18px;
}

#main ul {
  list-style: disc;
  margin-bottom: 18px;
}
#main li {
  list-style: disc;
  margin-left: 16px;
  padding-left: 0px;
  margin-bottom: 6px;
}
#main li ul {
  margin-bottom: 0;
}

#main dl, #main dd, #main dd p {
  margin-bottom: 18px;
}
#main dt {
  font-weight: bold;
  margin-bottom: 6px;
}

code {
    background: #DDDDDD;
    position: relative;
    width: 94%;
    margin: 10px 0px 0px 0px;
    padding: 10px 10px 11px 10px;
    border: 1px dotted #000000;
    overflow: auto;
    text-align: left;
    display: block;
}


/* @end */



footer.primary {
  padding: 12px 0;
  margin: 12px 0;
  text-align: center;
  background-color: rgba(254,255,255,0.8);
  font-size: 11px;
  color: #666;
}

body {
  background-color: lightgrey;
}
/* trying to use canvas as background*/
analyser {
top:0;
left:0;
width:100%;
height:100%;
z-index:-1;
}
#wavedisplay {
  visibility: hidden
}

